@if (isLoggedIn()) {
  <div class="profile-menu">
    @if (user()?.avatarUrl) {
      <button
        class="avatar avatar--img"
        (click)="toggle($event)"
        [attr.aria-expanded]="isOpen()"
        aria-haspopup="true"
      >
        <img [src]="user()!.avatarUrl!" alt="Profile" class="avatar-img" />
      </button>
    } @else {
      <button
        class="avatar"
        (click)="toggle($event)"
        [attr.aria-expanded]="isOpen()"
        aria-haspopup="true"
      >
        {{ userInitials() }}
      </button>
    }

    @if (isOpen()) {
      <div class="dropdown" (click)="$event.stopPropagation()">
        <div class="dropdown-header">
          <span class="dropdown-name">{{ user()?.organisationName }}</span>
          <span class="dropdown-email">{{ user()?.email }}</span>
          <span class="dropdown-role">{{ user()?.role }}</span>
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" routerLink="/" (click)="isOpen.set(false)"><span class="material-symbols-outlined menu-icon">home</span> Home</a>
        @if (isControl()) {
          <a class="dropdown-item" routerLink="/control" (click)="isOpen.set(false)"><span class="material-symbols-outlined menu-icon">shield_person</span> Control panel</a>
        }
        @if (isAdminOrControl()) {
          <a class="dropdown-item" routerLink="/admin" (click)="isOpen.set(false)"><span class="material-symbols-outlined menu-icon">settings</span> Settings</a>
        }
        <a class="dropdown-item" routerLink="/profile" (click)="isOpen.set(false)"><span class="material-symbols-outlined menu-icon">person</span> View profile</a>
        <a class="dropdown-item" routerLink="/help" (click)="isOpen.set(false)"><span class="material-symbols-outlined menu-icon">help</span> Help</a>
        <div class="dropdown-divider"></div>
        <button class="dropdown-item" (click)="logout()"><span class="material-symbols-outlined menu-icon">logout</span> Log out</button>
      </div>
    }
  </div>
}
